body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
}
p{
    display: inline;
}
.nav-container{
    z-index: 10;
    position:fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: 'Montserrat';
    font-size: 1.3rem;
    padding-top:3vh;
    padding-bottom: 3vh;
    height: 5vh;
    width: 100%;
    background-color:rgb(255, 255, 255);
    color: black;
}

.nav-contact, .nav-about{
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 15px;
    transition-duration: 0.5s;
    transition-property: background-color;
}
.nav-contact:hover, .nav-about:hover{
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.main-page-container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    padding-top: calc(3vh + 3vh + 5vh);
    overflow: hidden;
}

.logo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.logo{
    height: 80%;
    width:100%;
    object-fit: scale-down;
}
.tagline-container{
    color:whitesmoke;
    font-family: "Montserrat";
    font-size: 3rem;
    font-weight: 100;
    white-space: nowrap;
}
.tagline-container div{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}
.tagline-container:first-of-type div{
    animation: showup 10s infinite;
}
.tagline-container:last-of-type div{
    width: 0px;
    animation: reveal 10s infinite;
}
.tagline-container span{
    margin-left:-100px;
    animation: slidein 10s infinite;
}
@media  only screen and (max-width: 550px) {
    .tagline-container{
        font-size: 1.5rem;
    }
}
@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px;}
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px;}
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:auto;}
    80% {opacity:1;}
    100% {opacity:0;width:auto;}
}
.typewrite{
    text-decoration: none;
}
.wrap{
    color: white;
    font-style: italic;
}
.about-page-container{
    background:whitesmoke;
    color: white;
    height: 370px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10vw;
}