body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
}
p{
    display: inline;
}
.nav-container{
    position:fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: 'Montserrat';
    font-size: 20px;
    padding-top:3vh;
    padding-bottom: 3vh;
    height: 5vh;
    width: 100%;
    background-color:rgb(255, 255, 255);
    color: black;
}

.nav-contact, .nav-about{
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 15px;
    transition-duration: 0.5s;
    transition-property: background-color;
}
.nav-contact:hover, .nav-about:hover{
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.main-page-container{
    display: flex;
    flex-direction: column;
    width:100%
}

.logo-container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 3vw;
}
.logo{
    height: 50%;
}
.tagline-container{
    color: white;
    font-family: "Montserrat";
    font-size: 5vw;
    font-weight: 300;
}
.typewrite{
    text-decoration: none;
}
.wrap{
    color: white;
    font-style: italic;
}

.about-page-container{
    background-color: rgb(5, 5, 5);
    color: white;
    height: 370px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10vw;
}